/* body {
    min-height: 100vh;
} */

/* NAVBAR */
html {
    scroll-behavior: smooth;
}

.navbar-custom {
    background-color: rgb(43,124,170);
}

/* HERO AREA */

#hero {

    background: rgb(43,124,170);
    background: linear-gradient(180deg, rgba(43,124,170,1) 0%, rgba(255,255,255,0) 100%);
}


/* PROJECTS */


.project-divider-top {
    margin-top: 1.5rem;
    margin-bottom: 4rem; 
}

.project-divider {
    margin: 4rem 0;
}


/* SKILLS */


.skill-card {
    border: 1px solid black;
    border-radius: 5px;
}

/* FOOTER */


.footer-custom {
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(43,124,170,1) 100%);
}

#linkedin-link {
    border-radius: 50%;
    background-color: #0082ca;
    border: none;
}

#github-link {
    border-radius: 50%;
    background-color: #333333;
    border: none;
}

#linkedin-link:hover {
    transition: 0.5s;
    box-shadow: 0 0 12px #0082ca;
}

#github-link:hover {
    transition: 0.5s;
    box-shadow: 0 0 12px #333333;
}