
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* NAVBAR */


.navbar-custom {
    background-color: rgb(43,124,170);
}


/* HERO AREA */


#hero {

    background: rgb(43,124,170);
    background: linear-gradient(180deg, rgba(43,124,170,1) 5%, rgba(255,255,255,0) 100%);
}
#hi {
    font-family: 'Play', sans-serif;
}

/* PROJECTS */


.project-divider-top {
    margin-top: 1.5rem;
    margin-bottom: 4rem; 
}

.project-divider {
    margin: 4rem 0;
}


/* SKILLS */


.skills-divider {
    margin-top:  1.5rem;
    margin: 5rem 0;
}

.skill-card {
    border: 1px solid black;
    border-radius: 5px;
}

/* FOOTER */


.footer-custom {
    background: rgba(43,124,170,1);
}

#linkedin-link {
    border-radius: 50%;
    background-color: #0082ca;
    border: none;
}

#github-link {
    border-radius: 50%;
    background-color: #333333;
    border: none;
}

#linkedin-link:hover {
    transition: 0.5s;
    box-shadow: 0 0 12px #0082ca;
}

#github-link:hover {
    transition: 0.5s;
    box-shadow: 0 0 12px #333333;
}